{% extends '../index.html' %}
{% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
          <script>
          var categoryid, itemid, detailid;
          var categoryName, partName, boardName;
          var get_boardid = location.href.substr(location.href.search('create')+7,9)
          //현 게시판 소속 카테고리 정보 get
          document.write('{% for cate in categories %}')
          if('{{cate.boardid}}' == get_boardid){
            categoryid = '{{cate.categoryid}}'
            itemid = '{{cate.itemid}}'
            detailid = get_boardid
            boardName = '{{cate.boardname}}'
          }
          document.write('{% endfor %}')

          //카테고리 이름 get
          document.write('{% for cate in categories %}')
          if('{{cate.categoryid}}' == categoryid && '{{cate.itemid}}' == 0 && '{{cate.detailid}}' == 0){
            categoryName = '{{cate.boardname}}'
          }
          else if('{{cate.categoryid}}' == categoryid && '{{cate.itemid}}' == itemid && '{{cate.detailid}}' == 0){
            partName = '{{cate.boardname}}'
          }
          document.write('{% endfor %}')
          
          //현 게시판 카테고리 출력
          if(partName == null)
            document.write(categoryName+" > "+boardName)
          else
            document.write(categoryName+" > "+partName+" > "+boardName)
        </script>
      </div>
    </section>
{% endblock %}

{% block content %}
<!Doctype html>
<html lang=en>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>
        <script type="text/javascript" src="/static/js/lang/summernote-ko-KR.js"></script>
    </head>
    <body>
      <div id=boardPad>
        <form action="" method="POST">
        {% csrf_token %}
          <div class="card" id="summernote">
            <div class="card-header">
              {{ form.itemtitle }}
            </div>
            <div class="card-body" style="height: 370px; overflow-y:scroll;">
              {{ form.itemcontent }}

            <div class="text-right">   
              <button id="saveButton" type="submit" class="btn btn-info">저장</button>
            </div>
          </div>
        </form>
      </div>
    </body>
</html>
<script>
  $(document).ready(function () {
      $('#summernote').summernote({
        toolbar: [
          // [groupName, [list of button]]
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]
        ]
    });
  });
</script>
{% endblock %}