{% extends '../index.html' %}
{% block content %}
<!Doctype html>
<html lang=en>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
    <body>
        <div id=boardPad>
            <div class="card">
                <div class="card-header">
                    <script>
                      var categoryid, itemid, detailid;
                      var categoryName, partName, boardName;
                      var get_boardid = location.href.substr(location.href.search('boardid')+8,10)
                      //현 게시판 소속 카테고리 정보
                      document.write('{% for cate in categories %}')
                      if('{{cate.boardid}}' == get_boardid){
                        categoryid = '{{cate.categoryid}}'
                        itemid = '{{cate.itemid}}'
                        detailid = get_boardid
                        boardName = '{{cate.boardname}}'
                      }
                      document.write('{% endfor %}')

                      //카테고리 이름 get
                      document.write('{% for cate in categories %}')
                      if('{{cate.categoryid}}' == categoryid && '{{cate.itemid}}' == 0 && '{{cate.detailid}}' == 0){
                        categoryName = '{{cate.boardname}}'
                      }
                      else if('{{cate.categoryid}}' == categoryid && '{{cate.itemid}}' == itemid && '{{cate.detailid}}' == 0){
                        partName = '{{cate.boardname}}'
                      }
                      document.write('{% endfor %}')
                      
                      //현 게시판 카테고리 출력
                      if(partName == null)
                        document.write(categoryName+" > "+boardName)
                      else
                        document.write(categoryName+" > "+partName+" > "+boardName)
                    </script>
                </div>
                <div class="card-body" style="height: 370px; overflow-y:scroll;">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Title</th>
                          </tr>
                        </thead>
                        <tbody>
                          <script>
                            var index = 0;
                            document.write('{% for item in boarditems %}')
                            index = index + 1
                            document.write('<tr onclick="show_detail(\'{{item.assginboardid}}\', \'{{item.itemid}}\')">')
                              document.write('<th scope="row">'+index+'</th>')
                              document.write('<td>{{item.itemtitle}}</td>')
                            document.write('</tr>')
                            document.write('{% endfor %}')
                          </script>
                        </tbody>
                      </table>
                      <button id="writeButton" type="button" class="btn btn-info"
                            onclick="create()"> 글쓰기</button>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    function show_detail(boardid, itemid){
        console.log('boardid : '+ boardid + 'itemid : ' + itemid)
        location.href = '/boards/itemid/'+itemid
    }
    function create(){
      boardid = location.href.substr(location.href.search('boardid')+8,10)
      location.href = '/boards/create/'+boardid
    }
</script>
{% endblock %}